<nav class="topbar">
  <div class="topbar-left">
    <img src="assets/images/logo_serfor.png" alt="Logo SERFOR" class="logo-serfor">
    <img src="assets/images/favicon.ico" alt="Logo Programa" class="logo-programa">
  </div>

  <div class="topbar-center">
    <span class="system-title">
      SISTEMA DE MECANISMO DE GESTIÓN DE QUEJAS Y RECLAMOS (MGQR)
    </span>
  </div>

  <div class="topbar-right">
    <a class="user-info" (click)="toggleUserMenu()">
      <mat-icon>person</mat-icon>
      <span class="user-name">{{ usuario.nombre }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </a>

    <div *ngIf="menuUsuarioActivo" class="user-menu">
      <p><strong>{{ usuario.nombre }}</strong></p>
      <p>DNI: {{ usuario.dni }}</p>
      <p>{{ usuario.correo }}</p>
    </div>


    <button mat-icon-button class="logout-btn" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</nav>
