@import 'src/assets/styles/theme';

.footer-admin {
  width: 100%;
  background-color: $color-secondary!important;
  color: #ffffff!important;
  padding: 1.5rem 30px;
  font-size: 1.1rem;
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
  border-top: 1px solid lighten($color-secondary, 10%)!important;

  .footer-left {
    font-weight: normal!important;
    strong {
      font-weight: bold!important;
    }
  }

  .footer-right {
    font-weight: bold!important;
  }
}
