<main>
  <div class="container py-4">
    <!-- Contenido -->
    <div class="card">
      <div class="card-header bg-primary">
        <h4 class="text-white text-center">MECANISMO DE GESTIÓN DE QUEJAS Y RECLAMOS (MGQR) DEL PROYECTO DE INVERSIÓN PLANTACIONES DEL PROGRAMA BOSQUES PRODUCTIVOS SOSTENIBLES</h4>
      </div>
      <div class="card-body">
        <!-- Resultado de la consulta -->
        <div class="card">
          <div class="card-header bg-success">
            <h5 class="text-white"><i class="bi bi-credit-card-2-front"></i> Estado del expediente</h5>
          </div>
          <div class="card-body">

            <mat-list>
              <mat-list-item><strong>Número de expediente:</strong> EXP240256</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Fecha de registro:</strong> 03/08/2024</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Nombre del área destino:</strong> Especialista en gestión de riesgos sociales</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Descripción de la queja, reclamo o consulta:</strong> -</mat-list-item>
              <!--<mat-list-item><strong>Nombre del área actual:</strong> Especialista en gestión de riesgos sociales</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Respuesta:</strong> -</mat-list-item>
              -->
            </mat-list>
            <hr>
            <mat-list>
              <mat-list-item><strong>Días transcurridos:</strong> 7 días</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><strong>Estado:</strong> En proceso</mat-list-item>
            </mat-list>

            <div style="display: flex; justify-content: flex-end; gap: 10px;">
              <button mat-raised-button color="primary" routerLink="/consulta">
                <i class="bi bi-arrow-left"></i>
                Consultar otro expediente
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</main>
