<main>
  <div class="container py-4">
    <!-- Contenido -->
    <div class="card">
      <div class="card-header bg-primary">
        <h4 class="text-white text-center">MECANISMO DE GESTIÓN DE QUEJAS Y RECLAMOS (MGQR) DEL PROYECTO DE INVERSIÓN PLANTACIONES DEL PROGRAMA BOSQUES PRODUCTIVOS SOSTENIBLES</h4>
      </div>
      <div class="card-body">
        <!-- Resultado de la consulta -->
        <div class="card">
          <div class="card-header bg-success">
            <h6 class="text-white"><i class="bi bi-search"></i> Consulte el estado de su expediente</h6>
          </div>
          <div class="card-body">

            <div style="display: flex; justify-content: flex-end; gap: 10px;">
              <button mat-raised-button color="primary" routerLink="/consulta">
                <i class="bi bi-arrow-left"></i>
                Consultar otro expediente
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</main>
