<div class="card">
  <img src="assets/images/banner.png" alt="Header BPS" style="max-height: 150px;">
  <div class="card-body">
    <h5 class="card-title text-center text-success">MECANISMO DE GESTIÓN DE QUEJAS Y RECLAMOS (MGQR) DEL PROYECTO DE INVERSIÓN PLANTACIONES DEL PROGRAMA BOSQUES PRODUCTIVOS SOSTENIBLES</h5>
    <section>
      <h2 class="text-center text-success">¡Bienvenido (a)!</h2>
      <div class="container">
        <p class="card-text">El Proyecto "Programa Bosques Productivos Sostenibles" ha implementado este Sistema virtual para gestionar de manera eficiente la atención de Reclamos y Quejas.</p>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-primary">¿Qué es una queja?</h5>
                <p class="card-text">Manifestación de inconformidad, censura o descontento que formula una persona natural o jurídica, con respecto a la conducta o actuar del personal y/o servicio en el desarrollo de sus funciones.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-primary">¿Qué es un reclamo?</h5>
                <p class="card-text">Insatisfacción o disconformidad ante la entidad que lo atendió o le prestó un bien o servicio en el marco del Proyecto. Para fines del presente Proyecto, serán considerados indistintamente los términos de queja y reclamo.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-primary">¿Qué es una consulta?</h5>
                <p class="card-text">Expresión oral o escrita por parte de las personas, que tengan dudas y/o requieran información sobre un tema específico relacionado con las actividades del Proyecto.</p>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center gap-3">
            <button class="btn btn-primary" type="button" routerLink="/reclamo"><i class="bi bi-plus-circle"></i> Registre su queja, reclamo o consulta</button>
            <button class="btn btn-primary" type="button"><i class="bi bi-binoculars"></i> Consulte su queja, reclamo o consulta</button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="card-footer bg-success">
    <p class="text-center text-white">
      Con el fin de contar con un mecanismo accesible e inclusivo, se implementarán diversas vías para que se puedan presentar quejas, reclamos y consultas, las cuales se presentan a continuación:
    </p>
    <h5 class="text-center"><i class="bi bi-envelope-at"></i> comunicaciones@bpsserfor.gob.pe</h5>
    <p class="text-center text-white">
      El horario de atención es de lunes a viernes de 8:30 a.m. a 5:30 p.m.
    </p>
  </div>
</div>
