<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar-admin></app-sidebar-admin>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-topbar-admin></app-topbar-admin>
      <!-- Begin Page Content -->
      <div class="container-fluid">

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore cumque quae vero dolor illum incidunt eveniet debitis quos distinctio, vel necessitatibus harum! Eos soluta laudantium cupiditate similique excepturi dolore nostrum!</p>

      </div>
    </div>
    <!-- Footer -->
    <app-footer-admin></app-footer-admin>
  </div>
</div>
