<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar-admin></app-sidebar-admin>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Topbar -->
      <app-topbar-admin></app-topbar-admin>
      <!-- Contenido -->
      <div class="container-fluid">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt a, reprehenderit sunt omnis odio eius, id harum libero autem ducimus vel hic nisi laboriosam tenetur alias debitis quia illo illum.</p>
      </div>
    </div>
    <!-- Footer -->
    <app-footer-admin></app-footer-admin>
  </div>
</div>
