@import 'src/assets/styles/theme';

.botones-acciones {
  display: flex;
  justify-content: flex-end;
  gap: 10px; // Espacio entre los botones
  margin-bottom: 10px;

  .btn-descargar {
    background-color: #7a5900; // marrón
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 2px 2px 0px #000; // sombra negra como en el mockup
    border-radius: 2px;
    transition: all 0.2s ease;

    i {
      font-size: 18px;
    }

    &:hover {
      background-color: #5d4500;
    }
  }
  .btn-resetear {
    background-color: $color-primary !important;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 2px 2px 0px #000; // sombra negra como en el mockup
    border-radius: 2px;
    transition: all 0.2s ease;

    i {
      font-size: 18px;
    }

    &:hover {
      background-color: $color-primary-hover !important;
    }
  }
}
