<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="bi bi-person-rolodex"></i>
    </div>
    <div class="sidebar-brand-text mx-3">MGQR</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
      <a class="nav-link" routerLink="/admin">
        <i class="bi bi-house-gear-fill"></i>
        <span>Inicio</span>
      </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Opciones
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="bi bi-inboxes"></i>
        <span>Quejas y reclamos</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" routerLink="/recepcion">Recepcionar</a>
            <a class="collapse-item" href="cards.html">Asignar</a>
        </div>
    </div>
  </li>
  <hr class="sidebar-divider d-none d-md-block">
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
