<!--
<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="bi bi-person-rolodex"></i>
    </div>
    <div class="sidebar-brand-text mx-3">MGQR</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
      <a class="nav-link" routerLink="/admin">
        <i class="bi bi-house-gear-fill"></i>
        <span>Inicio</span>
      </a>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="bi bi-inboxes"></i>
        <span>Quejas, reclamo consulta</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" routerLink="/reclamo/create">
              <i class="bi bi-plus-circle"></i>
              Registrar</a>
            <a class="collapse-item" routerLink="/recepcion">
              <i class="bi bi-file-earmark-text"></i>
              Admitir</a>
            <a class="collapse-item" href="/atencion">
              <i class="bi bi-calendar-plus"></i>
              Atender</a>
        </div>
    </div>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="bi bi-graph-down"></i>
        <span>Reportes</span>
    </a>
    <div id="collapseReport" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" href="#">
              <i class="bi bi-graph-down"></i>
              Resumen</a>
        </div>
    </div>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGestion"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="bi bi-person-gear"></i>
        <span>Gestion</span>
    </a>
    <div id="collapseGestion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" href="#">
              <i class="bi bi-duffle"></i>
              Areas
            </a>
            <a class="collapse-item" href="#">
              <i class="bi bi-person-vcard"></i>
              Cargos
            </a>
            <a class="collapse-item" href="#">
              <i class="bi bi-newspaper"></i>
              Personal
            </a>
        </div>
    </div>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConfig"
        aria-expanded="true" aria-controls="collapseConfig">
        <i class="bi bi-gear"></i>
        <span>Configuración</span>
    </a>
    <div id="collapseConfig" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" href="#">
              <i class="bi bi-folder2"></i>
              Módulos
            </a>
            <a class="collapse-item" href="#">
              <i class="bi bi-gear"></i>
              Procesos
            </a>
            <a class="collapse-item" href="#">
              <i class="bi bi-list-ul"></i>
              Roles
            </a>
            <a class="collapse-item" href="#">
              <i class="bi bi-people-fill"></i>
              Usuarios
            </a>
        </div>
    </div>
  </li>
  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilitario"
        aria-expanded="true" aria-controls="collapseUtilitario">
        <i class="bi bi-tools"></i>
        <span>Utilitarios</span>
    </a>
    <div id="collapseUtilitario" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Acciones:</h6>
            <a class="collapse-item" href="#">
              <i class="bi bi-question-circle-fill"></i>
              Soporte</a>
        </div>
    </div>
  </li>
  <hr class="sidebar-divider d-none d-md-block">
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
-->

<ul class="sidebar-nav" id="accordionSidebar">

  <!-- Logo SERFOR arriba -->
  <div class="sidebar-logo">
    <img src="/assets/images/logo_midagri.png" alt="Logo Ministerio">
  </div>

  <!-- Perfil de usuario -->
  <div class="sidebar-profile">
    <img src="/assets/images/undraw_profile_2.svg" alt="Usuario" class="profile-img">
    <div class="profile-info">
      <strong>{{this.nombre_completo}}</strong>
      <span>{{this.cargo}}</span>
    </div>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Menú principal -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin">
      <i class="bi bi-house-gear-fill"></i>
      <span>Inicio</span>
    </a>
  </li>

  <hr class="sidebar-divider">

  <!-- Menú colapsable -->
  <li class="nav-item">
    <div class="nav-link-wrapper">
      <a class="nav-link collapsed" data-toggle="collapse" aria-expanded="true" data-target="#collapseTwo"
         aria-expanded="false" aria-controls="collapseTwo">
        <i class="bi bi-inboxes"></i>
        <span>Quejas y Reclamos</span>
        <i class="bi bi-chevron-down ml-auto"></i>
      </a>
    </div>


  <div *ngIf="this.rol=='1'">
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="collapse-inner">
          
          <a class="collapse-item" routerLink="/recepcion">
            <i class="bi bi-file-earmark-text"></i> Admitir
          </a>
          <a class="collapse-item" routerLink="/atencion">
            <i class="bi bi-calendar-plus"></i> Atender
          </a>
        </div>
      </div>
  </div>
  <div *ngIf="this.rol=='2'">
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="collapse-inner">
        
        <a class="collapse-item" routerLink="/recepcion">
          <i class="bi bi-file-earmark-text"></i> Admitir
        </a>
        <a class="collapse-item" routerLink="/atencion">
          <i class="bi bi-calendar-plus"></i> Atender
        </a>
      </div>
    </div>
</div>
  <div *ngIf="this.rol=='4'">
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="collapse-inner">
          <a class="collapse-item" routerLink="/recepcion">
            <i class="bi bi-file-earmark-text"></i> Admitir
          </a>
        </div>
      </div>
  </div> 
  <div *ngIf="this.rol=='5'">
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="collapse-inner">

          <a class="collapse-item" routerLink="/atencion">
            <i class="bi bi-calendar-plus"></i> Atender
          </a>
        </div>
      </div>
  </div> 
  <div *ngIf="this.rol=='6'">
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="collapse-inner">
          <a class="collapse-item" routerLink="/reclamo/create">
            <i class="bi bi-plus-circle"></i> Registrar
          </a>
          <a class="collapse-item" routerLink="/recepcion">
            <i class="bi bi-file-earmark-text"></i> Admitir
          </a>
          <a class="collapse-item" routerLink="/atencion">
            <i class="bi bi-calendar-plus"></i> Atender
          </a>
        </div>
      </div>
  </div> 
    
  </li>

<!--  <li class="nav-item">
    <div class="nav-link-wrapper">
      <a class="nav-link collapsed" data-toggle="collapse" aria-expanded="true" data-target="#collapseTwoR"
         aria-expanded="false" aria-controls="collapseTwoR">
        <i class="bi bi-graph-up-arrow"></i>
        <span>Reportes</span>
        <i class="bi bi-chevron-down ml-auto"></i>
      </a>
    </div>

    <div id="collapseTwoR" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="collapse-inner">
        <a class="collapse-item" href="#">
          <i class="bi bi-bar-chart-fill"></i> Resumen
        </a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="nav-link-wrapper">
      <a class="nav-link collapsed" data-toggle="collapse" aria-expanded="true" data-target="#collapseTwoG"
         aria-controls="collapseTwoG">
        <i class="bi bi-person-gear"></i>
        <span>Gestión</span>
        <i class="bi bi-chevron-down ml-auto"></i>
      </a>
    </div>

    <div id="collapseTwoG" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="collapse-inner">
        <a class="collapse-item" href="#">
          <i class="bi bi-bag-fill"></i> Áreas
        </a>
        <a class="collapse-item" href="#">
          <i class="bi bi-person-vcard-fill"></i> Cargos
        </a>
        <a class="collapse-item" href="#">
          <i class="bi bi-newspaper"></i> Personal
        </a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="nav-link-wrapper">
      <a class="nav-link collapsed" data-toggle="collapse" aria-expanded="true" data-target="#collapseTwoC"
         aria-controls="collapseTwoC">
        <i class="bi bi-gear"></i>
        <span>Configuración</span>
        <i class="bi bi-chevron-down ml-auto"></i>
      </a>
    </div>

    <div id="collapseTwoC" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="collapse-inner">
        <a class="collapse-item" href="#">
          <i class="bi bi-folder2"></i> Módulos
        </a>
        <a class="collapse-item" href="#">
          <i class="bi bi-gear"></i> Procesos
        </a>
        <a class="collapse-item" href="#">
          <i class="bi bi-list-ul"></i> Roles
        </a>
        <a class="collapse-item" href="#">
          <i class="bi bi-people-fill"></i> Usuarios
        </a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="nav-link-wrapper">
      <a class="nav-link collapsed" data-toggle="collapse" aria-expanded="true" data-target="#collapseTwoU"
         aria-controls="collapseTwoU">
        <i class="bi bi-tools"></i>
        <span>Utilitarios</span>
        <i class="bi bi-chevron-down ml-auto"></i>
      </a>
    </div>

    <div id="collapseTwoU" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="collapse-inner">
        <a class="collapse-item" href="#">
          <i class="bi bi-question-circle-fill"></i> Soporte
        </a>
      </div>
    </div>
  </li>-->


  <!-- Repetir similar para Reportes, Gestión, Configuración, Utilitarios -->
</ul>

