<main>
  <div class="container py-4">
    <!-- Header -->
    <header class="pb-3 mb-4 border-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <img src="assets/images/logo_midagri.png" alt="Logo MIDAGRI" style="max-width: 30%;">
        <img src="assets/images/logo_serfor.png" alt="Logo Serfor" style="max-width: 20%;">
        <img src="assets/images/logo_bps.png" alt="Logo BPS" style="max-width: 20%;">
      </div>
    </header>
    <!-- Contenido -->
    <div class="row align-items-md-stretch">
      <!-- Presentacion -->
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>¡Bienvenido (a)!</h2>
          <p>El Proyecto "Programa Bosques Productivos Sostenibles" ha implementado este Sistema Virtual para gestionar de manera eficiente la atención de Reclamos y Quejas.</p>
        </div>
      </div>
      <!-- Descripción  -->
      <div class="col-md-6 text-center">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>MECANISMO DE GESTIÓN DE QUEJAS Y RECLAMOS (MGQR)</h2>
          <hr>
          <p style="text-align: justify;">El programa Bosques Productivos Sostenibles, en adelante Programa BPS, viene implementando el Proyecto de Inversión "Mejoramiento del fomento de las Plantaciones Forestales Comerciales para el desarrollo productivo forestal en 07 departamentos."</p>
          <section>
            <h4>MECANISMO DE GESTIÓN DE QUEJAS Y RECLAMOS PARA LOS TRABAJADORES</h4>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio ipsam tenetur dolore placeat commodi quam pariatur doloribus amet ullam. Nihil nobis vitae ipsam consequatur mollitia et ex harum! Ipsa, similique.</p>
          </section>
          <section>
            <h4>MECANISMO DE GESTIÓN DE QUEJAS Y RECLAMOS PARA LA POBLACIÓN</h4>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates in deleniti deserunt repudiandae, eius maiores laudantium fuga. Numquam quae, consequatur earum possimus maiores deleniti fugiat omnis facilis mollitia, quas iusto.</p>
          </section>
          <!-- Botones -->
          <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
              <button class="btn btn-outline-primary" type="button">Registre su reclamo</button>
              <button class="btn btn-outline-secondary" type="button">Consulte su reclamo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="pt-3 mt-4 text-body-secondary border-top">
      &copy; 2024 SERFOR MGQR. Todos los derechos reservados
    </footer>
  </div>
</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
