@use '@angular/material' as mat;
@include mat.core();

//1. Escojo los colores que llevará mi Theme
// Definir el color primario
$my-primary-color: (
  50 : #f0ece0,
  100 : #d9cfb3,
  200 : #bfb080,
  300 : #a5904d,
  400 : #927826,
  500 : #7f6000,
  600 : #775800,
  700 : #6c4e00,
  800 : #624400,
  900 : #4f3300,
  A100 : #ffc982,
  A200 : #ffb44f,
  A400 : #ff9e1c,
  A700 : #ff9303,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Definir el color secundario (usado como accent)
$my-accent-color: (
    50 : #ecf1e7,
    100 : #cfddc2,
    200 : #b0c699,
    300 : #90af70,
    400 : #789e52,
    500 : #608d33,
    600 : #58852e,
    700 : #4e7a27,
    800 : #447020,
    900 : #335d14,
    A100 : #bfff96,
    A200 : #a0ff63,
    A400 : #81ff30,
    A700 : #71ff17,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$my-accent-color-secondary: (
  50 : #e9f3e5,
  100 : #c8e0be,
  200 : #a4cc93,
  300 : #7fb867,
  400 : #63a847,
  500 : #489926,
  600 : #419122,
  700 : #38861c,
  800 : #307c17,
  900 : #216b0d,
  A100 : #afff9e,
  A200 : #85ff6b,
  A400 : #5bff38,
  A700 : #46ff1f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);




// Definir el color de advertencia (warn)
$my-warn-color: (
  50: #f9f0e1,
  100: #f1ddba,
  200: #e9c792,
  300: #e1b069,
  400: #daa248,
  500: #c20e1a,  // Color de advertencia (danger)
  600: #b50d17,
  700: #a50c14,
  800: #940b12,
  900: #76090c,
  A100: #ffcdbf,
  A200: #ff9d7f,
  A400: #ff6d3f,
  A700: #ff541e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

//2. Defino la paleta de colores
$theme-agpres-primary: mat.define-palette($my-primary-color);
$theme-agpres-accent: mat.define-palette($my-accent-color-secondary, A200, A100, A400);
$theme-agpres-warn: mat.define-palette($my-warn-color);

//3. Tema propio
$agpres-theme: mat.define-light-theme((
  color: (
    primary: $theme-agpres-primary,
    accent: $theme-agpres-accent,
    warn: $theme-agpres-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

//4. Aplicar tema a angular
@include mat.all-component-themes($agpres-theme);
