<app-spinner *ngIf="loading"></app-spinner>
<div class="my-2"></div>
<div class="my-2"></div>
<!-- Área de datos -->
<div class="mat-elevation-z3">
  <table mat-table [dataSource]="dataSourceExp" matSort>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let row; let i = index;">
        {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proyecto </th>
      <td mat-cell *matCellDef="let row"> {{ row.tipo_proyecto }} </td>
    </ng-container>
    <ng-container matColumnDef="fechaasignacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Asignación </th>
      <td mat-cell *matCellDef="let row"> {{ row.fecha }} </td>
    </ng-container>
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.evidencia; else sinEvidencia">
          <a
            [href]="getDownloadLink(row.evidencia)"
            target="_blank"
            style="text-decoration: underline; color: blue;"
            title="Descargar evidencia"
          >
            {{ row.expediente }}
          </a>
        </ng-container>
        <ng-template #sinEvidencia>
          {{ row.expediente }}
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="canal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal Asignado </th>
      <td mat-cell *matCellDef="let row"> {{row.expediente}} </td>
    </ng-container>
    <ng-container matColumnDef="procedencia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Procedencia </th>
      <td mat-cell *matCellDef="let row"> {{row.procedencia}} </td>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
      <td mat-cell *matCellDef="let row"> {{row.tipo_reclamo}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Registro </th>
      <td mat-cell *matCellDef="let row">{{ row.fecha }} </td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
      <td mat-cell *matCellDef="let row" class="descripcion-celda">
        {{ row.contenido_consulta }}
      </td>
    </ng-container>
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
      <td mat-cell *matCellDef="let row"> {{row.nombre_completo}} </td>
    </ng-container>
    <ng-container matColumnDef="ubigeo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Plazo (día)</th>
      <td mat-cell *matCellDef="let row"> {{row.dias_transcurridos}} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let row" class="acciones-celda">
        <div class="botones-accion">
          <button mat-icon-button class="btn-accion btn-ver" matTooltip="Ver detalle" (click)="verDetalle(row)">
            <i class="bi bi-eye"></i>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
</div>



