<app-spinner *ngIf="loading"></app-spinner>
<div id="wrapper">
  <!-- Sidebar -->
  <app-sidebar-admin></app-sidebar-admin>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Topbar -->
      <app-topbar-admin></app-topbar-admin>
      <!-- Contenido -->
      <div class="container-fluid">
        <!-- Formulario -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card shadow mb-4">
            <div class="card-header py-3 bg-success">
              <h5 class="m-0 font-weight-bold text-white">Formulario para la atención de Reclamos, quejas y consultas</h5>
            </div>
            <div class="card-body">
              <h5 class="font-weight-bold">Información general</h5>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Código</mat-label>
                    <input type="number" matInput formControlName="codigo_expediente" placeholder="Código" [maxlength]="15" readonly="readonly">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Fecha de registro</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_registro" readonly="readonly">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Tipo de reclamo / queja / consulta</mat-label>
                    <input matInput formControlName="tipo_reclamo" readonly="readonly">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>N° de documento</mat-label>
                    <input  matInput formControlName="numero_documento" readonly="readonly">
                  </mat-form-field>
                </div>
                <div class="col-lg-8 col-xs-12 col-md-12">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Nombres y apellidos</mat-label>
                    <input  matInput formControlName="nombre" readonly="readonly">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Descripción del reclamo, queja o consulta</mat-label>
                    <textarea #contenidoConsulta matInput formControlName="reclamo" rows="3" maxlength="500" placeholder="Detalle aquí su queja, reclamo o consulta (Máximo, 500 caracteres)." readonly="readonly"></textarea>
                    <mat-hint align="end">{{contenidoConsulta.value.length}} / 500</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <hr color="primary">
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Respuesta al reclamo, queja o consulta</mat-label>
                    <textarea #respuestaConsulta matInput formControlName="respuesta" rows="3" maxlength="500" placeholder="Detalle aquí la respuesta a la queja, reclamo o consulta (Máximo, 500 caracteres)."></textarea>
                    <mat-hint align="end">{{respuestaConsulta.value.length}} / 500</mat-hint>
                    <mat-error *ngIf="form.controls['respuesta'].hasError('required')">
                      Este campo es <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Comentarios</mat-label>
                    <textarea #comentariosConsulta matInput formControlName="comentarios" rows="3" maxlength="500" placeholder="Comentarios u observaciones (Máximo, 500 caracteres)."></textarea>
                    <mat-hint align="end">{{comentariosConsulta.value.length}} / 500</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    <mat-label style="font-size: 15px;color: rgb(129, 80, 80);"> Peso máximo: 5MB en total, solo se aceptan formatos pdf, jpg, docx, xls, xlsx,csv.</mat-label>
                    <input class="form-control" type="file" accept=".docx,.csv,.xls,.xlsx,.pdf,.jpg,.jpeg,image/jpeg"  formControlName="evidencia_respuesta">
                  </p>
                </div>
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>¿Este expediente se derivará a otra área?</mat-label>
                    <mat-select formControlName="culmina_atencion" (selectionChange)="onCulminaAtencionChange($event)">
                      <mat-option [value]="0">SI, EL PROCESO CONTINÚA</mat-option>
                      <mat-option [value]="1">NO, SE HA CULMINADO LA ATENCIÓN</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col" *ngIf="showEspecialista">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Especialista al que se le asigna la queja, reclamo o consulta</mat-label>
                    <mat-select formControlName="especialista">
                      <mat-option *ngFor="let item of especialistas" [value]="item.id">
                        {{item.nombre}} {{item.apellido_paterno}} {{item.apellido_paterno}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['especialista'].hasError('required')">
                      Este campo es <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <hr color="primary">
              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-icon-split mr-2" [disabled]="form.invalid || loading" matTooltip="Guardar cambios">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Admitir</span>
                  </button>
                  <button class="btn btn-info btn-icon-split" [routerLink]="['/atencion']" matTooltip="Cancelar la operación">
                    <span class="icon text-white-50">
                      <i class="bi bi-x-circle"></i>
                    </span>
                    <span class="text">Cancelar</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Footer -->
    <app-footer-admin></app-footer-admin>
  </div>
</div>
