// Importar la fuente Roboto desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// Definir variables personalizadas antes de importar Bootstrap
$primary:      #7f6000;
$secondary:    #4b9b83;
$warning:      #76b82a;
$info:         #cbddce;
$success:      #489926;
$danger:       #c20e1a;
//Importar Boostrap
@import "node_modules/bootstrap/scss/bootstrap.scss";
// Coloco Roboto como fuente por defecto
$font-family-base: 'Roboto', sans-serif;
// Reduzco el tamaño del texto
$font-size-base: 0.875rem; // Por ejemplo, 14px si el tamaño base por defecto es 16px
// Aplicar la fuente a todo el documento
html, body {
  height: 100%;
  font-size: 13px;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
