// =======================
// 🎨 Paleta de colores
// =======================

$color-primary: #28a745;
$color-secondary: #7f6114;
$color-primary-hover: #218838;
$color-primary-light: #e8f5e9;

$color-border: #d9d9d9;
$color-outline: #ced4da;

$color-background: #ffffff;
$color-background2: #f4f6f9;
$color-text: #333333;
$color-muted: #6c757d;
$color-footer-border: #dee2e6;

$font-family-base: 'Roboto', 'Helvetica', 'Arial', sans-serif;

$border-radius-base: 10px;
$box-shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);

