<main>
  <div class="container py-4">
    <!-- Contenido -->
    <div class="card">
      <div class="card-header bg-primary">
        <h4 class="text-white text-center">MECANISMO DE GESTIÓN DE QUEJAS Y RECLAMOS (MGQR) DEL PROYECTO DE INVERSIÓN PLANTACIONES DEL PROGRAMA BOSQUES PRODUCTIVOS SOSTENIBLES</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="formConsulta" (ngSubmit)="onSubmit()">
          <div class="card">
            <div class="card-header bg-success">
              <h6 class="text-white"><i class="bi bi-search"></i> Consulte el estado de su expediente</h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8 col-xs-12 col-md-12">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Número de expediente</mat-label>
                    <input matInput formControlName="numero_expediente" placeholder="Ingrese el número de expediente">
                    <mat-error *ngIf="formConsulta.controls['numero_expediente'].hasError('required')">
                      Número de expediente es <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Código de verificación</mat-label>
                    <input matInput formControlName="codigo" placeholder="0000">
                    <mat-icon matSuffix
                    matTooltip="Revisar su correo con el expediente, para que vea su código de verificación"
                    matTooltipPosition="after"
                    >help</mat-icon>
                    <mat-error *ngIf="formConsulta.controls['codigo'].hasError('required')">
                      Código es <strong>obligatorio</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div style="display: flex; justify-content: flex-end; gap: 10px;">
                <button mat-raised-button color="primary" routerLink="/home">
                  <i class="bi bi-arrow-left"></i>
                  Atras
                </button>
                <button mat-raised-button color="primary">
                  <mat-icon>search</mat-icon>
                  Consultar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</main>
